<!--The content below is only a placeholder and can be replaced.-->
<section id="login">
    <div class="container">
        <div class="row">
           
                <div class="form-wrap">
                    <input type="text" name="firstName" id="firstName" class="form-control" placeholder="FirstName" #first>
                    <app-login-component></app-login-component>
                    <hr>
                </div>
            
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>